name: Spring Boot CI/CD

on:
  push:
    branches: [ main ]
  workflow_dispatch:

jobs:
  build-and-push:
    runs-on: ubuntu-latest

    permissions:
      contents: read
      packages: write

    steps:
      - name: Checkout source
        uses: actions/checkout@v4

      - name: Setup Java 21
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: '21'
          cache: maven

      - name: Show debug info
        run: |
          echo "Actor: ${{ github.actor }}"
          echo "Repository: ${{ github.repository }}"

      - name: Build + Push Container with Jib
        run: mvn -B -e compile jib:build
        env:
          JIB_TO_AUTH_USERNAME: vannchhai123
          JIB_TO_AUTH_PASSWORD: ${{ secrets.GHCR_TOKEN }}

      - name: Trigger Railway Deploy
        if: success()
        run: curl -X POST ${{ secrets.RAILWAY_WEBHOOK }}
