name: Spring Boot CI/CD

on:
  push:
    branches: [ main ]
  workflow_dispatch:

jobs:
  build-and-push:
    runs-on: ubuntu-latest

    permissions:
      contents: read
      packages: write

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Java
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: '21'
          cache: maven

      - name: Verify GHCR Login
        run: |
          echo "${{ secrets.GHCR_TOKEN }}" | docker login ghcr.io -u vannchhai123 --password-stdin

      - name: Build and Push Image (Jib)
        run: mvn -B compile jib:build
        env:
          JIB_TO_AUTH_USERNAME: vannchhai123
          JIB_TO_AUTH_PASSWORD: ${{ secrets.GHCR_TOKEN }}

      - name: Trigger Deploy
        if: success()
        run: curl -X POST ${{ secrets.RAILWAY_WEBHOOK }}
