name: Spring Boot CI/CD
on:
  push:
    branches: [main]

  workflow_dispatch:
jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'temurin'

      - name: Build and Push with Jib
        run: |
          mvn clean compile jib:build \
            -Djib.to.image=ghcr.io/vannchhai123/workflow-api:latest \
            -Djib.to.auth.username=${{ github.actor }} \
            -Djib.to.auth.password=${{ secrets.GITHUB_TOKEN }}

      - run: curl -X POST ${{ secrets.RAILWAY_WEBHOOK }}


